body {
    background: #212529;
}
.cursor-pointer:hover{
    cursor: pointer;
}
.nav-link:hover {
    border: #007bff 1px solid;
    margin: 2px 0;
    transform: scale(1.05);
}

.nav-link {
    border: rgb(0,0,0,0) 1px solid;
    margin: 2px 0;
}

.logotype{
    transition: 3s;
}

.logotype:hover{
    transform: rotate(360deg);
}

@media (max-width: 770.98px) {
    #post-container {
        width: 100% !important;
    }
}
